<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="com.hyperledger.export.Main"
            id="com.archimatetool.import_export_example.exportHandler"
            label="Model To BNA...">
      </exportHandler>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.hyperledger.views.TogglePropertiesViewHandler"
            id="com.hyperledger.commands.TogglePropertiesViewHandler"
            name="Toogle HL Properties">
      </command>
   </extension>
         
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.asgar.myexport.toolbars.sampleToolbar">
            <command
                  commandId="com.hyperledger.commands.TogglePropertiesViewHandler"
                  icon="icons/icon.png"
                  id="com.hyperledger.commands.toggleToolbarProperties">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

	<extension
	     point="org.eclipse.ui.views">
   <category
         id="com.hyperledger.views"
         name="hl">
   </category>
   <view
         category="com.hyperledger.views"
         class="com.hyperledger.views.HLView"
         icon="icons/icon.png"
         id="com.hyperledger.views.properties.PropertiesView"
         inject="true"
         name="Hyperledger ">
   </view>
	</extension>

</plugin>
