<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.archimatetool.editor.exportHandler">
      <exportHandler
            class="com.archimatetool.example.MyExporter"
            id="com.archimatetool.import_export_example.exportHandler"
            label="Model To BNA...">
      </exportHandler>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.archimatetool.example.PropWindow"
            id="com.archimatetool.example.PropWindow"
            name="New ViewPart">
      </view>
   </extension>

</plugin>
